@use 'variable';
@use 'mixin';

.header {
  @include mixin.framesize(100px, 400px);
  background-color: variable.$navy;
}

.container {
  @include mixin.flex-row();
}

.sidebar {
  @include mixin.framesize(250px, 150px);
  background-color: variable.$green;
}

.main {
  @include mixin.framesize(250px, 250px);
  background-color: variable.$red;
}

.footer {
  @include mixin.framesize(100px, 400px);
  background-color: variable.$brown;
}