@use 'variable';
@use 'mixin';

.header {
  @include mixin.framesize(100px, 400px);
  background-color: variable.$navy;
  position: relative;

  &__inner{
    position: absolute;
    background-color: variable.$white;
    padding: 10px;
    gap: 10px;
    display: flex;
    @include mixin.framesize(60px, 160px);
    top:20px;
    right:20px;
      .headerbox {
        @each $name, $color in variable.$box-colors {
          &-#{"" + $name} {
            @include mixin.headerbox($color);
          }
        }
      }
  }
}

.container {
  @include mixin.flex-row();
}

.sidebar {
  @include mixin.framesize(250px, 150px);
  background-color: variable.$green;
}

.main {
  @include mixin.framesize(250px, 250px);
  background-color: variable.$red;

  display: flex;
  flex-direction: column;
  gap: 10px;
  // padding: 40px 0 0 40px;
  box-sizing: border-box;

  &__inner {
    @include mixin.maininnerbox();
    @each $name, $color in variable.$box-colors {
      .mainbox-#{"" + $name} {
        @include mixin.mainbox($color);
      }
    }
  }
}

.footer {
  @include mixin.framesize(100px, 400px);
  background-color: variable.$brown;
}