$white: #fff;
$classNames: 'purple', 'orange', 'blue';
$buttonColor: #a9004b, #ff863f, #0000ff;

$navy: #141f40;
$green: #80bfa8;
$red: #8c2727;
$brown: #d98d30;
$purple: #a9004b;
$orange: #ff863f;
$blue:#0000ff;

$box-colors: (
  purple: $purple,
  orange: $orange,
  blue:   $blue
);

$header-height: 100px;
$header-width: 400px;
$sidebar-height: 250px;
$sidebar-width: 150px;
$main-height: 250px;
$main-width: 250px;
$footer-height: 100px;
$footer-width: 400px;
