.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ↓ここに処理を書く↓ */
/* CSS */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.header h1 {
  text-align: left; 
}

.header__logo {
  width: 80px;
}

.header__list {
  display: flex;
}

.header__list > li {
  margin-left: 30px;
}

.header__list > li:first-child {
  margin-left: 0;
}

.header__list__link {
  text-decoration: none;
  color: #666;
  font-size: 16px;
  font-weight: bold;
}

.header__list__link:hover {
  color: #cd6799;
}

/* Sass */
$maxWidth: 1000px;
$brandColor: #cd6799;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 10px 0;

  h1 {
    text-align: left;
  }

  // .headerlogoという意味
  &__logo {
    width: 80px;
  }

  &__list {
    display: flex;

    & > li {
      margin-left: 30px;

      /* 擬似クラスもこのように書く事が可能 */
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: #666;
    font: {
      size: 16px;
      weight: bold;
    }

    &:hover {
      color: $brandColor;
    }
  }
}
